/install.ps1
/.minecraft/logs
/.minecraft/mods/*.*
/.minecraft/saves
/.minecraft/screenshots
/.minecraft/usercache.json
/.minecraft/usernamecache.json
/natives
/.minecraft/resourcepacks
/.minecraft/patchouli_books
/.minecraft/coremods
/.minecraft/schematics
/.minecraft/server-resource-packs
/.minecraft/shaderpacks
/.minecraft/texturepacks
/.minecraft/XaeroWorldMap
/.minecraft/crash-reports