/install.ps1
/.minecraft/logs
/.minecraft/mods/*.*
/.minecraft/saves
/.minecraft/screenshots
/.minecraft/usercache.json
/.minecraft/usernamecache.json
/natives
/.minecraft/resourcepacks
/.minecraft/patchouli_books
/.minecraft/coremods
/.minecraft/schematics
/.minecraft/server-resource-packs
/.minecraft/shaderpacks
/.minecraft/texturepacks
/.minecraft/XaeroWorldMap
/.minecraft/crash-reports
.minecraft/config/craftpresence.properties
instance.cfg
.minecraft/servers.dat
.minecraft/servers.dat_old
.minecraft/local/ftbchunks/data/f76f250a-251b-4135-826c-b15eee38d7c5/biome_map.txt
.minecraft/local/ftbchunks/data/f76f250a-251b-4135-826c-b15eee38d7c5/block_map.txt
.minecraft/local/ftbchunks/data/f76f250a-251b-4135-826c-b15eee38d7c5/dimensions.txt
.minecraft/local/ftbchunks/data/f76f250a-251b-4135-826c-b15eee38d7c5/minecraft_overworld/0EA60-0EA5E.zip
.minecraft/local/ftbchunks/data/f76f250a-251b-4135-826c-b15eee38d7c5/minecraft_overworld/0EA60-0EA5F.zip
.minecraft/local/ftbchunks/data/f76f250a-251b-4135-826c-b15eee38d7c5/minecraft_overworld/0EA60-0EA60.zip
.minecraft/local/ftbchunks/data/f76f250a-251b-4135-826c-b15eee38d7c5/minecraft_overworld/0EA61-0EA5E.zip
.minecraft/local/ftbchunks/data/f76f250a-251b-4135-826c-b15eee38d7c5/minecraft_overworld/0EA61-0EA5F.zip
.minecraft/local/ftbchunks/data/f76f250a-251b-4135-826c-b15eee38d7c5/minecraft_overworld/0EA61-0EA60.zip
.minecraft/local/ftbchunks/data/f76f250a-251b-4135-826c-b15eee38d7c5/minecraft_overworld/dimension.regions
.minecraft/local/ftbchunks/data/f76f250a-251b-4135-826c-b15eee38d7c5/minecraft_overworld/waypoints.json
/.minecraft/_down
/install-3.ps1
/.minecraft/config/WatchDogAC/generated-mods-list.txt
/.minecraft/config/WatchDogAC/generated-texturepacks-list.txt
/.minecraft/defaultconfigs
/.minecraft/local
.minecraft/config/voicechat/username-cache.json
/.minecraft/config/voicechat-client.toml
/.minecraft/config/jei